.img2 {
    max-width:128px;
    max-height:128px;
    width:auto;
    height:auto;
    image-rendering: pixelated;
}

body{
  background-color: #bbbbaa;
  font-family: verdana;
  font-size: 100%;
  color:white;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
